
#part1{
  background-image:url("/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh;
 position: relative;
 margin: 0px;

}
html,body{
    margin:0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    background-color: #f2f2f2;
    overflow-x: hidden;
}
<.navbar-toggler>.close {
    display:inline;
}
.navbar-toggler.collapsed>.close, .navbar-toggler:not(.collapsed)>.navbar-toggler-icon {
    display:none;
}


#mainavbar.scrolled {
  background-color: pink !important;
  transition: background-color 200ms linear; 
  display: flex;
} 

a.nav-link
{  
    position: relative;
}

.nav-item .nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
 background-color: cyan;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
a.nav-link:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
#h1{ 
     margin-left: 12vw;
	 color:white;
	 margin-top: 15%;
	 margin-bottom: 120%;
}

 #buttons{

 	margin-left:12vw;
 	font-size: 2rem;
 	padding: 0 1rem;
 	text-align: left;
 }

#button1{
	background-color: #27ae60;
	text-decoration: none;
	padding-right: 32px;
	color: white;
	border-radius: 500px;
	display: inline-block;
}

#button1:hover {
	background-color: #28a745;
	transform: scale(1.2);
	margin-right: 3vw;
	transition: background-color .2s, transform .2s, margin .2s; 
}

#button2{
	background-color: transparent;
	border: 2px solid aqua;
	font-color: cyan;
	margin-left: 2px;
	margin-right: 60px;
	padding-left: 32px;
	text-decoration: none;
	padding-right: 32px;
	border-radius: 500px;
	display: inline-block;
}

#button2:hover {
	background-color: aqua;
	color: white;
	transform: scale(1.1);
	transition: background-color .2s, transform .2s, margin .2s, color .2s; 
}


#part2{
	background-color: snow;
	padding: 4rem 1rem;
	height: stretch;
}

#food{
	margin: 2rem;
}

#food:after{
	 display:block;
     content: '';
     background-color: tomato;
     height: 2px;
     transform: scaleX(1);
     width:10%;
     margin: 0 auto;
     margin-top: 1rem;
     margin-bottom: 6rem;
}

#text2{
	 text-align: center;
	 margin:0 8vw;
}
#cols{
	text-align: center;
	display: inline;
	margin: 1.5rem 0 1rem 0;
}

#cols i{
	margin: 2rem 0 1rem 0;
	color: tomato;
}
#part3 img{
	height: 200px;
	float: left;
	width: 100%;
	margin: 0 auto;
}
#part3 img:hover{
	 animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */

}
#part4{
	background-color: peachpuff;
	display: block;
}

#h2{
	padding: 4rem 7rem;
}

#h2:after{
	 display:block;
     content: '';
     background-color: tomato;
     height: 2px;
     transform: scaleX(1);
     width:10%;
     margin: 0 auto;
     margin-top: 1rem;
     margin-bottom: 6rem;
     }


#part4 img{
	width: 200px;
	height: 404px;
	margin-top: 0rem;
	margin-bottom: 10rem;
	margin-right: 0;
	margin-left: 55%;
}

#part4 .line{
	display: flex;
	margin-top: 2rem;
	margin-right: 5rem;
}

#part4 .count{

	border-radius: 60%;
	border: 2px solid white;
	display:inline-block;
	width: 10%;
	text-align: center;
	color: white;
	padding: 0.5rem 0.5rem;
}

#part4 .content{
	text-align: left;
	margin-left: 2rem;
	font-weight: bold;
}

#part4 .playstore{
	display: flex;

}

#part4 .playstore img{
	margin-top: 100px;
	width: 20vw;
	height: 100px;
	margin-left: 2vh;
	padding: 0px;
}

#part5 {

		background-color: snow;
		padding: 4rem 1rem;
}
#cap{
  display: inline;
  line-height: 0.8cm;
}
#part5b{

	background-image: url("https://images.unsplash.com/photo-1574126154517-d1e0d89ef734?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60");
	background-size: cover;
	background-position: center;
}

#pizza{
	color: white;
	text-align: center;
}

#pizza:after{
	 display:block;
     content: '';
     background-color: tomato;
     height: 2px;
     transform: scaleX(1);
     width:10%;
     margin: 0 auto;
     margin-top: 1rem;
     margin-bottom: 2rem;
     }

#review{
	font-size: 1.7rem;
	font-weight: 700;
	line-height: 2.5rem;
	text-align: left;
	color: white;
}

#review img{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	margin-right: 5px;
	margin-top: 10px;
}
#sub{
	display: inline-flex;
}
#subscription{
	text-align: center;
}
#signup{
	color:green;
	font-size: 1.8rem;
}
#signup2{
	color: green;
	size:0.9rem;
}
#part6{
	background:#FFB6C1;
}
#tat{
	text-align: center;
	display: inline;
	margin: 0.2rem 0 0.2rem 0;
	background: white;
	border-radius: 4rem;
    column-gap: 60rem;
     text-align: left;
       position: relative;
     border-spacing: 30rem;
     border-radius: 60px;
     max-width:300px;
    font-size: 1.3rem;
     margin-right: 3rem;
     margin-left: 3rem;
     padding:1rem;
}
#one{
	text-align: center;
}

#tat i{
	margin: 2rem 0 1rem 0;
	color: tomato;
	
}
#part7{
	padding: 4rem 1rem;
	background: #ECE9E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#newheading{
	text-align: center;
}

#newheading:after{
	 display:block;
     content: '';
     background-color: tomato;
     height: 2px;
     transform: scaleX(1);
     width:10%;
     margin: 0 auto;
     margin-top: 1rem;
     margin-bottom: 2rem;
     }

#form{
	margin-left: 25%;
}

#form p{
	margin-bottom: 30px;
	font-size: 20px;
}

#form button{
	margin-top: 20px;
	margin-left: 45%;
}

#form textarea{
	height: 100px;
}

footer{
   background-color: dimgray;
   padding: 1rem;
}

.handles{
	display: flex;
}

.nav a{
   float: left;
   color: black;
}

.nav a:hover{
	color: white;
}

.media{
	justify-content: flex-end;
	margin-left: 5vw;
}

.media i{
	color: black;
	font-size: 1.6rem;
}

.media i:hover{
	color: white;
}
#send{
	font-color:black;
	margin-left: 5rem;
	background-color: green;
	size:10rem;
	border-radius: 0.2rem;
}
#love{
	text-align: center;
}
#end{
	color:#FF0000;
}
